.yellow-background-gradient {
  /*width: 42em;
  height: auto;
  display: block;*/
  background: rgba(255,245,61,1);
  background: -moz-linear-gradient(-45deg, rgba(255,245,61,1) 0%, rgba(255,245,61,1) 8%, rgba(255,184,43,1) 87%, rgba(255,176,41,1) 98%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,245,61,1)), color-stop(8%, rgba(255,245,61,1)), color-stop(87%, rgba(255,184,43,1)), color-stop(98%, rgba(255,176,41,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,245,61,1) 0%, rgba(255,245,61,1) 8%, rgba(255,184,43,1) 87%, rgba(255,176,41,1) 98%);
  background: -o-linear-gradient(-45deg, rgba(255,245,61,1) 0%, rgba(255,245,61,1) 8%, rgba(255,184,43,1) 87%, rgba(255,176,41,1) 98%);
  background: -ms-linear-gradient(-45deg, rgba(255,245,61,1) 0%, rgba(255,245,61,1) 8%, rgba(255,184,43,1) 87%, rgba(255,176,41,1) 98%);
  background: linear-gradient(135deg, rgba(255,245,61,1) 0%, rgba(255,245,61,1) 8%, rgba(255,184,43,1) 87%, rgba(255,176,41,1) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff53d', endColorstr='#ffb029', GradientType=1 );
}

/*body {
  width: 45em;
  margin: 0 auto;
}*/
#board {
  width: 45em;
  clear: both;
}

.column-div {
  width: 6em;
  height: auto;
  float: left;
}

.row-div {
  display: block;
  height: 6em;
}

.no-background {
  height: 4em;
  background-color: white;
}
/*
.circle-shape {
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-color: green;
}*/

.circle-img {
  /*width: 100%;*/
  width: 5.5em;
  /*height: auto;*/
  height: 5.5em;
  border-radius: 100%;
}

.holes {
  background-color: white;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  display: block;
  vertical-align: middle;
}

.display-block { display: block; }

.fifty-percent-size {
  width: 50%;
  height: auto;
  border-radius: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 10000;
}

.overlay-words {
  font-size: 7em;
  color: red;
  opacity: 100;
  text-align: center;
  vertical-align: middle;
  padding: auto;
  margin: auto;
}

h1 {
  float: left;
  margin: 0;
}

/*
div.column-div:hover {
  box-shadow: 0 0 5px #98FB98;
  border: 1px solid green;
}*/

.token {
  width: 3em;
  height: auto;
  border-radius: 100%;
  display: block;
  margin: auto;
}
